:root {
	--main-bg-color: #e9ebee;
	--section-bg-color: #fff;
	--theme-primary-color: #d82651;
	--theme-secondary-color: #2394eb;
	--fancy-gradient-color: linear-gradient(
		90deg,
		var(--theme-primary-color) 0%,
		var(--theme-secondary-color) 100%
	);
}

body {
	background: var(--main-bg-color);
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: var(--theme-primary-color);
}

a:hover {
	text-decoration: none;
}

a:hover {
	color: var(--theme-secondary-color);
}

.container {
	width: 1450px;
	max-width: 100%;
}

header {
	background: var(--section-bg-color);
	position: sticky;
	top: -91px;
	transition: top 0.4s cubic-bezier(0, 0, 0.2, 1);
	z-index: 1;
}

header.sticky {
	top: 0;
}

.top-white-row {
	display: flex;
	align-items: stretch;
	height: 56px;
}

.logo-col {
	display: flex;
	align-items: center;
}

#search {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	max-width: 475px;
	margin: 0 auto;
}

#search > input {
	width: 100%;
	min-height: 36px;
	padding-left: 15px;
	border-radius: 25px;
	position: relative;
	z-index: 2;
	border: none;
}

#search > input:focus {
	outline: none;
}

.search-bar-gradient-border {
	content: '';
	position: absolute;
	border-radius: 25px;
	left: -1px;
	right: -1px;
	top: 9px;
	bottom: 9px;
	background: linear-gradient(
		90deg,
		var(--theme-primary-color) 0%,
		var(--theme-secondary-color) 100%
	);
	z-index: 1;
}

#search > input:focus ~ .search-bar-gradient-border {
	top: 8px;
	bottom: 8px;
	left: -2px;
	right: -2px;
}

#search > button {
	width: 10%;
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 0;
	border: none;
	background: none;
	padding: 0;
	z-index: 2;
	color: var(--theme-primary-color);
}

#search > button:hover {
	color: var(--theme-secondary-color);
}

.top-right-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.top-right-group > * {
	height: 100%;
	display: flex;
	align-items: center;
}

.top-right-group i {
	margin-right: 8px;
}

.top-white-row i {
	font-size: 19px;
	margin-bottom: 3px;
}

.mini-counter {
	position: absolute;
	color: #fff;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
}

.wishlist-counter {
	left: 11px;
	top: 10px;
	background: var(--theme-secondary-color);
}

.cart-count {
	left: 12px;
	top: -7px;
	background: var(--theme-secondary-color);
}

#wishlist-total {
	position: relative;
}

#mini-cart,
#account-menu {
	position: absolute;
	opacity: 0;
	top: 50%;
	right: 15px !important;
	left: 15px !important;
	z-index: 0;
	min-width: 200px;
	margin: 0;
	padding: 5px 0;
	list-style: none;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	transition: all 0.3s ease-out;
	pointer-events: none;
}

.empty-cart-text {
	min-height: 70px;
	display: grid;
	place-items: center;
}

#account-menu {
	right: auto !important;
	padding: 20px;
	min-width: 350px;
}

#account-menu > p {
	margin: 0 0 15px;
}

.logged-out {
	text-align: center;
	align-items: center;
}
.logged-in {
	padding: 10px 0;
}
.logged-in > li a {
	padding: 4px 0 4px 15px;
}

.login-now-text {
	text-align: center;
}

#account-menu > ul {
	display: flex;
}

#account-menu > ul a {
	display: block;
}

.logged-in {
	flex-direction: column;
}

.logged-out {
	flex-direction: row;
	justify-content: space-between;
	width: 65%;
	margin: 0 auto;
}

#cart > button {
	position: relative;
	border: 0;
	padding: 0;
	background: none;
	color: var(--theme-primary-color);
}

#cart > button:hover {
	color: var(--theme-secondary-color);
}

#account-menu-button > a {
	display: flex;
	align-items: center;
}

#cart:hover #mini-cart,
#account-menu-button:hover #account-menu {
	opacity: 1;
	top: 100%;
	z-index: 2;
	pointer-events: auto;
}

#account-menu-button:hover > a {
	color: var(--theme-secondary-color);
}

.register-btn {
	background: linear-gradient(
		90deg,
		var(--theme-primary-color) 0%,
		var(--theme-secondary-color) 100%
	);
	color: #fff;
	padding: 6px 20px 6px 45px;
	position: relative;
	border-radius: 4px;
}

.register-btn:hover {
	color: #fff;
}

.register-btn:hover:before {
	color: var(--theme-secondary-color);
}

.register-btn:before {
	content: '\f324';
	font-family: 'Font Awesome 5 Pro';
	font-weight: 600;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	bottom: 0;
	right: 70%;
	position: absolute;
	background: orange;
	border-bottom-right-radius: 62% 100%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.login-btn {
	padding: 7px 12px;
}

#header-second-row {
	min-height: 35px;
	background: linear-gradient(
		to right,
		var(--theme-primary-color),
		var(--theme-secondary-color)
	);
	display: flex;
	align-items: stretch;
}

#menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	max-width: 600px;
	color: #fff;
}

#menu li {
	padding: 2px 5px;
	border: 1px solid transparent;
	border-radius: 25px;
}

#menu li:hover {
	border: 1px solid #fff;
}

#menu li:first-child {
	background: #fff;
	color: #333;
	border: none;
	border-radius: 0;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 2px 30px 6px 30px;
	height: calc(100% - 7px);
	align-self: flex-end;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	font-weight: bold;
}

#menu li:first-child i {
	margin-right: 8px;
	font-weight: bold;
	font-size: 15px;
}

#menu a {
	color: #fff;
	padding: 10px;
}

#backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0000009e;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-out;
}

#searchInput:focus + #backdrop {
	opacity: 1;
}

/* #backdrop.visible {
	opacity: 1;
} */

#common-home {
	height: 1750px;
}
