:root {
	--main-bg-color: #e9ebee;
	--section-bg-color: #fff;
	--text-default-color: #666;
	--theme-primary-color: #ff1d74;
	--theme-secondary-color: #0082e6;
	/* --theme-primary-color: #d82651;
	--theme-secondary-color: #2394eb; */
	--fancy-gradient-color: linear-gradient(
		90deg,
		var(--theme-primary-color) 0%,
		var(--theme-secondary-color) 100%
	);
	--mobile-breakpoint: 767px;
}

body {
	background: var(--main-bg-color);
	color: var(--text-default-color);
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: var(--theme-primary-color);
}

a:hover {
	text-decoration: none;
}

a:hover {
	color: var(--theme-secondary-color);
}

.html-content {
	background: var(--section-bg-color);
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 40px;
}

.container {
	width: 1450px;
	max-width: 100%;
}

header {
	background: var(--section-bg-color);
	position: sticky;
	top: -91px;
	transition: top 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	z-index: 3;
	box-shadow: 0px -2px 10px 1px rgba(0, 0, 0, 0.6);
	margin-bottom: 40px;
}
header.sticky {
	top: 0;
}
#hamburger-button {
	display: none;
	place-items: center;
	grid-row: 2;
	grid-column: 1/2;
	background: none;
	border: 1px solid var(--theme-primary-color);
	border-radius: 25px;
	justify-self: start;
	margin-left: 15px;
	align-self: center;
	width: 55px;
	height: 35px;
	color: var(--theme-primary-color);
}
.top-white-row {
	display: flex;
	align-items: stretch;
	height: 56px;
}

.logo-col {
	display: flex;
	align-items: center;
}

#search {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	max-width: 525px;
	margin: 0 auto;
	z-index: 1;
}

#search > input {
	width: 100%;
	min-height: 36px;
	padding-left: 15px;
	border-radius: 25px;
	position: relative;
	z-index: 3;
	border: none;
}

#search > input:focus {
	outline: none;
}

.search-bar-gradient-border {
	content: '';
	position: absolute;
	border-radius: 25px;
	left: -1px;
	right: -1px;
	top: 9px;
	bottom: 9px;
	background: linear-gradient(
		90deg,
		var(--theme-primary-color) 0%,
		var(--theme-secondary-color) 100%
	);
	z-index: 1;
}

#search.search-bar-focused {
	z-index: 3;
}

#search.search-bar-focused .search-bar-gradient-border {
	top: 8px;
	bottom: 8px;
	left: -2px;
	right: -2px;
	box-shadow: 0px 0px 20px -9px #fff;
}

#search > button {
	width: 10%;
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 0;
	border: none;
	background: none;
	padding: 0;
	z-index: 3;
	color: var(--theme-primary-color);
}

#search > button:hover {
	color: var(--theme-secondary-color);
}

.top-right-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.top-right-group > * {
	height: 100%;
	display: flex;
	align-items: center;
}

.top-right-group i {
	margin-right: 8px;
}

.top-white-row i {
	font-size: 19px;
	margin-bottom: 3px;
}

.mini-counter {
	position: absolute;
	color: #fff;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
}

.wishlist-counter {
	left: 11px;
	top: 10px;
	background: var(--theme-secondary-color);
}

.cart-count {
	left: 12px;
	top: 10px;
	background: var(--theme-secondary-color);
}

#wishlist-total {
	position: relative;
}

#mini-cart {
	padding: 10px !important;
}

#mini-cart tr {
	background: #fff;
}

#mini-cart tr:first-child td {
	border: none;
}

#mini-cart .btn {
	background: var(--theme-primary-color);
	color: #fff;
}
#mini-cart .btn i {
	margin: 0;
	padding: 2px;
}

#mini-cart,
#account-menu {
	position: absolute;
	opacity: 0;
	top: 50%;
	right: 15px !important;
	left: 15px !important;
	z-index: 0;
	min-width: 200px;
	margin: 0;
	padding: 5px 0;
	list-style: none;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	transition: all 0.3s ease-out;
	pointer-events: none;
}

.empty-cart-text {
	min-height: 70px;
	display: grid;
	place-items: center;
}

.cart-modal-empty {
	flex-direction: column;
	border: none !important;
	margin-top: 10%;
	margin-bottom: 10px;
	max-height: unset !important;
}

.cart-modal-empty > i {
	font-size: 106px;
	color: #ccc;
}

.cart-modal-empty .continue-shopping {
	background: var(--theme-primary-color);
	border: none;
	padding: 10px 12px !important;
	color: #fff;
	margin-top: 20px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.cart-modal-empty .continue-shopping:hover {
	background: var(--theme-secondary-color);
}
.continue-shopping > i {
	margin: 0;
	margin-left: 7px;
}

#account-menu {
	right: auto !important;
	padding: 20px;
	min-width: 260px;
}

#account-menu > p {
	margin: 0 0 15px;
}

.logged-out {
	text-align: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	margin: 0 auto;
}
.logged-in {
	padding: 10px 0;
	flex-direction: column;
}
.logged-in > li a {
	padding: 4px 0 4px 15px;
}

.login-now-text {
	text-align: center;
}

#account-menu > ul {
	display: flex;
}

#account-menu > ul a {
	display: block;
}

#cart-btn {
	position: relative;
	border: 0;
	padding: 0;
	background: none;
	color: var(--theme-primary-color);
	height: 100%;
}

#cart-btn:hover {
	color: var(--theme-secondary-color);
}

#cart-btn > * {
	pointer-events: none;
}

#cart-modal {
	overflow: auto;
	position: fixed;
	background: white;
	left: 50%;
	right: 0;
	top: 20%;
	transform: translateX(-50%) scale(0.1);
	max-width: 750px;
	height: 500px;
	max-height: 75vh;
	transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	opacity: 0;
	pointer-events: none;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width: 80%;
}

#cart-modal.visible {
	opacity: 1;
	pointer-events: all;
	transform: translateX(-50%) scale(1);
	z-index: 3;
	transition-delay: 0.05s;
}

#cart-modal > * {
	width: calc(100% - 30px);
}

.cart-modal-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	width: 100% !important;
	padding: 10px 15px;
}

.cart-modal-header h3 {
	margin-top: 10px;
}

.cart-modal-close {
	cursor: pointer;
	color: var(--theme-primary-color);
	background: none;
	border: none;
	transition: all 0.3s;
}

.cart-modal-close:hover {
	color: var(--theme-secondary-color);
}

.cart-modal-close:active {
	transform: scale(0.85);
}
.cart-modal-close i {
	font-size: 32px;
	margin: 0;
	pointer-events: none;
}

.cart-modal-body li {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: 78px;
	transition: all 0.35s cubic-bezier(1, -0.69, 1, 1.29);
	overflow: hidden;
}

.cart-modal-body li.removed {
	padding: 0;
	max-height: 0 !important;
}

.cart-modal-body li > *:first-child {
	flex: 4;
}
.cart-modal-body li > *:nth-child(2) {
	flex: 8;
}
.cart-modal-body li > *:nth-child(3) {
	margin-bottom: 0;
	flex: 5;
}
.cart-modal-product-unit-price > span:first-child,
.cart-modal-product-total > span:first-child {
	display: none;
}
.cart-modal-body li > *:nth-child(4) {
	flex: 5;
}
.cart-modal-body li > *:nth-child(5) {
	flex: 4;
}
.cart-modal-body li > *:last-child {
	flex: 1;
	text-align: center;
	padding: 5px 3px;
}

.product-name-options {
	display: flex;
	flex-direction: column;
}

.cart-modal-product-total {
	margin: 0;
}

.cart-modal-product-quantity {
	display: flex;
	align-items: center;
}

.cart-modal-product-quantity > button {
	display: grid;
	place-items: center;
	padding: 2px;
	margin: 0;
	width: 25px;
	height: 25px;
	border: none;
	background: var(--theme-primary-color);
	color: #fff;
	transition: all 0.3s;
}
.cart-modal-product-quantity > button:hover {
	background: var(--theme-secondary-color);
}
.cart-modal-product-quantity > button:active {
	transform: scale(0.8);
}
.cart-modal-product-quantity .subtract {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.cart-modal-product-quantity .add {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.cart-modal-product-quantity .subtract i,
.cart-modal-product-quantity .add i {
	pointer-events: none;
}

.cart-modal-product-quantity input {
	width: 35px;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	height: 25px;
}

.cart-modal-product-quantity i {
	margin: 0;
}

.remove-item-btn i {
	font-size: 18px;
	color: red;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#account-menu-button > a {
	display: flex;
	align-items: center;
}

#cart:hover #mini-cart,
#account-menu-button:hover #account-menu {
	opacity: 1;
	top: 100%;
	z-index: 1;
	pointer-events: auto;
}

#account-menu-button:hover > a {
	color: var(--theme-secondary-color);
}

.basic-cta {
	border: 1px solid var(--theme-primary-color);
	border-radius: 4px;
}
.basic-cta:hover {
	border-color: var(--theme-secondary-color);
}

.fancy-cta {
	background: linear-gradient(
		90deg,
		var(--theme-primary-color) 0%,
		var(--theme-secondary-color) 100%
	);
	color: #fff;
	padding: 6px 25px 6px 45px;
	position: relative;
	border-radius: 4px;
}

.fancy-cta:hover {
	color: #fff;
}

.fancy-cta:hover:before {
	color: var(--theme-secondary-color);
}

.fancy-cta:before {
	content: '\f324';
	font-family: 'Font Awesome 5 Pro';
	font-weight: 600;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	bottom: 0;
	right: 73%;
	position: absolute;
	background: orange;
	border-bottom-right-radius: 65% 110%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.login-btn {
	padding: 5px 12px;
}

#header-second-row {
	min-height: 35px;
	background: linear-gradient(
		to right,
		var(--theme-primary-color),
		var(--theme-secondary-color)
	);
	display: flex;
	align-items: stretch;
}

#menu {
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 600px;
	color: #fff;
}

#menu li {
	padding: 2px 5px;
	border: 1px solid transparent;
	border-radius: 25px;
	margin-right: 10px;
}

#menu li:hover {
	border: 1px solid #fff;
}

#menu li:first-child {
	background: #fff;
	color: #333;
	border: none;
	border-radius: 0;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 2px 30px 6px 30px;
	height: calc(100% - 7px);
	align-self: flex-end;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	font-weight: bold;
}

#menu li:first-child i {
	margin-right: 8px;
	font-weight: bold;
	font-size: 15px;
}

#menu a {
	color: #fff;
	padding: 10px;
}

#backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0000009e;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease-out;
}

#backdrop.visible {
	opacity: 1;
	pointer-events: all;
}

.swiper-viewport {
	/* width: calc(100vw - 20px);
	margin-left: calc(1678px - 100vw); */
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 40px;
	overflow: hidden;
}

#pictograme_home {
	display: flex;
	justify-content: space-around;
}

.pictograme_children {
	text-align: center;
	position: relative;
	cursor: pointer;
	padding: 20px 0 10px 0;
}

.pictograme_children i {
	font-size: 42px;
	color: #888;
}

.pictograme_children h5 {
	font-weight: bold;
	color: #888;
}

.tooltip-pictograma {
	position: absolute;
	background: #fff;
	width: 200px;
	height: 90px;
	transform: translate(-50%, 125px);
	top: 0;
	left: 50%;
	display: grid;
	border: 1px solid #cecece;
	place-items: center;
	transition: all 0.25s ease-in-out;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
	opacity: 0;
	visibility: none;
	pointer-events: none;
	z-index: 1;
	padding: 7px;
	font-size: 12px;
}

.tooltip-pictograma:before {
	content: '';
	width: 16px;
	height: 16px;
	background: #fff;
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
}

.pictograme_children:hover .tooltip-pictograma {
	transform: translate(-50%, 102px);
	opacity: 1;
	pointer-events: all;
	visibility: visible;
}

.pictograme_children:hover > * {
	color: #666;
}

#account_widget {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
	position: relative;
	overflow: hidden;
}
#account_widget:after {
	content: '\f007';
	position: absolute;
	font-family: 'Font Awesome 5 Pro';
	color: #cdcdcd;
	font-size: 99px;
	bottom: -40px;
	left: 2%;
}
#account_widget h5 {
	font-weight: 600;
	font-size: 18px;
}
.welcome-message {
	margin-left: 10%;
}
.welcome-buttons .basic-cta {
	margin-right: 20px;
	padding: 9px 15px;
}
.welcome-buttons .fancy-cta {
	padding: 10px 20px 10px 45px;
}
.homepage-slideshow-fullscreen {
	padding-left: 0;
	padding-right: 0;
	margin-top: -40px;
	overflow: hidden;
}

@media (max-width: 767px) {
	header {
		top: -100px;
		margin-bottom: 0;
	}
	header.sticky {
		top: -50px !important;
	}
	#logo img {
		max-height: 40px;
	}
	#menu > li {
		display: none !important;
	}
	#header-second-row {
		min-height: 3px;
	}
	.top-white-row {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(5, 1fr);
		height: 100px;
	}
	#hamburger-button {
		display: grid;
	}
	#hamburger-button i {
		font-weight: bold;
	}
	.logo-col {
		grid-row: 1;
		grid-column: 1/3;
	}
	.search-col {
		grid-row: 2;
		grid-column: 2/6;
	}
	#search {
		max-width: 100%;
	}
	#search > button {
		right: 10px;
	}
	.search-bar-gradient-border {
		top: 6px;
		bottom: 6px;
	}
	#search.search-bar-focused .search-bar-gradient-border {
		top: 5px;
		bottom: 5px;
		left: -2px;
		right: -2px;
	}
	.top-right-group {
		grid-row: 1;
		grid-column: 3/6;
		margin-left: 30px;
		margin-top: 5px;
	}
	#account-menu {
		display: none;
	}
	#mini-cart {
		display: none;
	}
	#cart:hover #mini-cart {
		top: 100px;
	}
	#cart-modal {
		left: 15px !important;
		right: 15px !important;
		top: 15%;
		transform: scale(0.1);
		max-height: 80vh;
		width: auto;
	}
	#cart-modal.visible {
		transform: scale(1);
	}

	.cart-modal-header h3 {
		font-size: 20px;
	}
	.cart-modal-empty {
		margin-top: 20%;
	}
	.cart-modal-empty h3 {
		font-size: 16px;
	}
	.cart-modal-body > li:not(.cart-modal-empty) {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);
		max-height: 120px;
		grid-gap: 3px;
	}
	.cart-modal-body > li > *:first-child {
		grid-column: 1/2;
	}
	.cart-modal-body > li > *:nth-child(2) {
		margin-left: 7px;
		grid-column: 2/5;
	}
	.cart-modal-body > li > *:nth-child(3) {
		grid-column: 1/3;
	}
	.cart-modal-body > li > *:nth-child(4) {
		grid-column: 3/4;
	}
	.cart-modal-body > li > *:nth-child(5) {
		text-align: end;
		grid-column: 4/6;
	}
	.cart-modal-body > li > *:last-child {
		grid-row: 1;
		grid-column: 5/6;
		justify-self: end;
	}
	.cart-modal-body > li:first-child:not(.cart-modal-empty) {
		display: none;
	}
	.cart-modal-product-unit-price,
	.cart-modal-product-total {
		display: flex;
		flex-direction: column;
	}
	.cart-modal-product-unit-price > span:first-child,
	.cart-modal-product-total > span:first-child {
		display: inline;
		color: #aaa;
	}
	.swiper-viewport {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-bottom: 30px;
		border: none;
	}
	#pictograme_home {
		overflow-x: scroll;
		overflow-y: hidden;
		justify-content: unset;
	}
	.pictograme_children {
		min-width: 145px;
	}
	.pictograme_children:first-child {
		margin-left: -10px;
		padding-left: 10px;
	}
	.tooltip-pictograma {
		display: none;
	}

	#account_widget {
		flex-direction: column;
		text-align: center;
	}

	#account_widget > * {
		margin: 10px 0;
	}
	.welcome-buttons .basic-cta {
		position: relative;
		z-index: 1;
		background: #fff;
		margin-right: 5px;
	}
	.html-content {
		margin-bottom: 30px;
	}
	.homepage-slideshow-fullscreen {
		margin-top: 0;
	}
}

/* Swiper */
.swiper-container {
	width: 100%;
	height: fit-content;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
}
.swiper-slide img {
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	transform: translateX(-50%);
	position: relative;
	left: 50%;
	top: 50%;
}
.custom_product_carousel {
	padding-bottom: 30px !important;
	margin-bottom: 40px;
}
.custom_product_carousel .swiper-slide {
	padding: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.custom_product_carousel .primary-img {
	position: relative;
	opacity: 1;
	transition: opacity 0.3s;
}
.custom_product_carousel .secondary-img {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0%, 0%);
	opacity: 0;
	transition: opacity 0.3s;
}
.custom_product_carousel .swiper-slide a:first-child:hover .primary-img {
	opacity: 0;
}
.custom_product_carousel .swiper-slide a:first-child:hover .secondary-img {
	opacity: 1;
}
.custom_product_carousel h4 {
	margin-top: 16px;
	font-size: 16px;
	color: var(--theme-primary-color);
}
.custom_product_carousel .price,
.custom_product_carousel .price-new {
	color: var(--theme-primary-color);
	font-size: 17px;
}
.custom_product_carousel .price-old {
	text-decoration: line-through;
	font-size: 14px;
	margin-bottom: 0;
}
.custom_product_carousel .swiper-slide {
	height: unset;
	border-radius: 4px;
}
.custom_product_carousel .separator {
	width: 100%;
	height: 1px;
	background: #ddd;
	margin: 0 auto;
}
.custom_product_carousel .pricing-div {
	min-height: 74px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.carousel-cart-btn.fancy-cta {
	font-size: 14px;
	border: 1px solid #999;
	margin-bottom: 10px;
}
.carousel-cart-btn.fancy-cta::before {
	content: '\f07a';
	padding-right: 3px;
	border-bottom-right-radius: 55% 110%;
	padding-bottom: 2px;
}
.product-wishlist-btn {
	position: absolute;
	z-index: 1;
	top: 12px;
	right: 12px;
	background: transparent;
	border: none;
	color: var(--theme-primary-color);
	font-size: 24px;
	transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.product-wishlist-btn:hover {
	transform: scale(1.3);
}
.product-carousel-arrows {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	margin-top: -12px;
	margin-right: -5px;
}
.product-carousel-arrows * {
	position: relative !important;
	right: 0 !important;
	left: 0 !important;
	height: unset !important;
	padding: 5px;
	color: var(--theme-primary-color);
}
.product-carousel-arrows *::after {
	font-size: 16px !important;
	font-weight: bold;
}
