<div id="search">
  <input type="text" id="searchInput" name="search" value="{{ search }}" placeholder="{{ text_search }}"/>
  <div class="search-bar-gradient-border"></div>
  <button type="button">
    <i class="fal fa-search"></i>
  </button>
</div>